server:
  port: 80
  error:
    path: /error

logging:
  config: classpath:log4j.xml

spring:
  config:
    import:
    - classpath:properties/database-dev.yml
    - classpath:properties/env-dev.yml
  mail:
    host: smtp.gmail.com
    port: 587
    username: test@runtime.co.kr
    password: test
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    transport:
      protocol: smtp
    debug: true
  messages:
    basename: i18n/messages
    encoding: UTF-8
