<Configuration status="INFO">
	<Properties>
		<Property name="LOG_PATH">logs</Property>
		<Property name="DEFAULT_PATTERN">
			[%d{yyyy-MM-dd HH:mm:ss.SSS}] %5p ${sys:PID}--- [%15.15t] %-40.40c{1.} : %m%n%xwEx
		</Property>
		<Property name="COLOR_PATTERN">
			[%clr{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint}]%clr{%5p} %clr{${sys:PID}}{magenta} %clr{---}{faint}%clr{[%15.15t]}{faint} %clr{%-40.40c}{cyan} %clr{:}{faint} %m%n%xwEx
		</Property>
		<Property name="TEST_PATTERN">%d %5p [%c] %m%n</Property>
	</Properties>

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT"
			follow="true">
			<PatternLayout pattern="${COLOR_PATTERN}" />
		</Console>
		<RollingFile name="RollingFileAppender">
			<FileName>${LOG_PATH}/log4j2.log</FileName>
			<FilePattern>
				${LOG_PATH}/log4j2.%d{yyyy-MM-dd-hh-mm}.%i.log.gz
			</FilePattern>
			<PatternLayout>
				<Pattern>${DEFAULT_PATTERN}</Pattern>
			</PatternLayout>
			<Policies>
				<SizeBasedTriggeringPolicy size="100MB" />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${LOG_PATH}" maxDepth="1">
					<IfAccumulatedFileCount exceeds="3" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Root level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Root>
		<Logger name="com.sg.bbit" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<Logger name="log4jdbc.log4j2" level="INFO" additivity="false">
			<MarkerFilter marker="LOG4JDBC_JDBC" onMatch="DENY" onMismatch="NEUTRAL"/>
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<Logger name="com.zaxxer.hikari" level="OFF" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<Logger name="org.quartz" level="OFF" additivity="false">
			<AppenderRef ref="ConsoleAppender" />
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
	</Loggers>
</Configuration>