<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sg.bbit.mapper.RoleInfoMapper">
	<sql id="columns">
		roi.ROI_NUM,
		roi.ROI_ROLE,
		roi.ROI_TYPE,
		roi.CREDAT,
		roi.CRETIM,
		roi.LMODAT,
		roi.LMOTIM,
		roi.ACTIVE
	</sql>
	
	<select id="selectROI" resultType="roi">
		SELECT 
			<include refid="columns"/>
		FROM ROLE_INFO roi
		WHERE roi.ROI_NUM = #{roiNum}
	</select>
	
	<select id="selectROIList" resultType="roi">
		SELECT 
			<include refid="columns"/>
		FROM ROLE_INFO roi
		<where>
			<if test='roiNum != null and roiNum != ""'>
				AND roi.ROI_NUM = #{roiNum}
			</if>
			<if test='roiRole != null and roiRole != ""'>
				AND roi.ROI_ROLE = #{roiRole}
			</if>
			<if test='roiType != null and roiType != ""'>
				AND roi.ROI_TYPE = #{roiType}
			</if>
			<if test='credat != null and credat != ""'>
				AND roi.CREDAT = #{credat}
			</if>
			<if test='cretim != null and cretim != ""'>
				AND roi.CRETIM = #{cretim}
			</if>
			<if test='lmodat != null and lmodat != ""'>
				AND roi.LMODAT = #{lmodat}
			</if>
			<if test='lmotim != null and lmotim != ""'>
				AND roi.LMOTIM = #{lmotim}
			</if>
			<if test='active != null and active != ""'>
				AND roi.ACTIVE = #{active}
			</if>
		</where>
		<trim prefix="order by">
			<if test='orders!=null'>
				${orders}
			</if>
		</trim>
	</select>
	
	<insert id="insertROI" parameterType="roi" useGeneratedKeys="true" keyProperty="roiNum" keyColumn="roi_num">
		INSERT INTO ROLE_INFO (
			<if test='roiNum != null and roiNum != ""'>
				ROI_NUM,
			</if>
			<if test='roiRole != null and roiRole != ""'>
				ROI_ROLE,
			</if>
			<if test='roiType != null and roiType != ""'>
				ROI_TYPE,
			</if>
			<if test='active != null and active != ""'>
				ACTIVE,
			</if>
			CREDAT, CRETIM,
			LMODAT, LMOTIM
		) VALUES (
			<if test='roiNum != null and roiNum != ""'>
				#{roiNum},
			</if>
			<if test='roiRole != null and roiRole != ""'>
				#{roiRole},
			</if>
			<if test='roiType != null and roiType != ""'>
				#{roiType},
			</if>
			<if test='active != null and active != ""'>
				#{active},
			</if>
			TO_CHAR(CURRENT_DATE, 'YYYYMMDD'), TO_CHAR(CURRENT_TIMESTAMP, 'HH24MISS'),
			TO_CHAR(CURRENT_DATE, 'YYYYMMDD'), TO_CHAR(CURRENT_TIMESTAMP, 'HH24MISS') 
		)
	</insert>

	<update id="updateROI">
		UPDATE ROLE_INFO
		<set>
			<if test='roiNum != null and roiNum != ""'>
				ROI_NUM = #{roiNum},
			</if>
			<if test='roiRole != null and roiRole != ""'>
				ROI_ROLE = #{roiRole},
			</if>
			<if test='roiType != null and roiType != ""'>
				ROI_TYPE = #{roiType},
			</if>
			<if test='active != null and active != ""'>
				ACTIVE = #{active},
			</if>
				LMODAT = TO_CHAR(CURRENT_DATE, 'YYYYMMDD'),
				LMOTIM = TO_CHAR(CURRENT_TIMESTAMP, 'HH24MISS')
		</set>
		WHERE ROI_NUM = #{roiNum}
	</update>
	
	<delete id="deleteROI">
		UPDATE ROLE_INFO
			SET ACTIVE = 0,
				LMODAT = TO_CHAR(CURRENT_DATE, 'YYYYMMDD'),
				LMOTIM = TO_CHAR(CURRENT_TIMESTAMP, 'HH24MISS')
		WHERE ROI_NUM = #{roiNum}
	</delete>
</mapper>